{% extends 'adminbase.html.twig' %}

{% block title %}Üye Ekleme{% endblock %}

{% block content %}
    <!--Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!--Content Header (Page Header) -->
        <section class="content-header">
            <h1>
                Üye Ekleme
            </h1>

        </section>
        <!--Main Content-->
        <section class="content">

            <!--User List Table-->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Yeni Üye Ekleme</h4>

                    <form class="forms-sample" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Adı Soyadı</label>
                            <input type="text" name="user[name]" class="form-control" id="exampleInputEmail1" placeholder="Adı Soyadı">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="user[email]" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="user[password]" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Türü</label>
                            <select name="user[roles]" class="form-control">
                                <option>ROLE_ADMIN</option>
                                <option>ROLE_USER</option>
                                <option>ROLE_POWER</option>
                                <option>ROLE_MEMBER</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Aktif Durumu</label>
                            <select name="user[status]" class="form-control">
                                <option>True</option>
                                <option>False</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success mr-2">Kaydet</button>
                        <button class="btn btn-light">İptal</button>
                    </form>
                </div>
            </div>
            <!--User List Table-->

        </section>
        <!--/.content-->
    </div>
    <!--/.content-wrapper-->
{% endblock %}
