{% extends 'frontbase.html.twig' %}

{% block title %}Referanslar覺m覺z {{ data[0].title }}{% endblock %}
{% block keywords %}{{ data[0].keywords }}{% endblock %}
{% block description %} {{ data[0].description }}{% endblock %}
{% block content %}

    <!--
    Body Section
    -->
<hr class="soften">
<div class="well well-small container">
    <h1>Referanslar覺m覺z</h1>
    <hr class="soften"/>
    <div class="row-fluid row">
            <div class="col-1">
                {{  data[0].referances|raw}}
            </div>
    </div>
</div>

{% endblock %}