{% extends 'frontbase.html.twig' %}

{% block title %} Sepet - Online Alış Veriş Mağazası{% endblock %}


{% block sidebar %} {{  include ('home/_usersidebar.html.twig') }} {% endblock %}
{% block content %}
    <div class="span8">
        <ul class="breadcrumb">
            <li><a href="{{ path('home') }}">Home</a> <span class="divider">/</span></li>
            <li><a href="products.html">Order Items</a> <span class="divider">/</span></li>
            <li class="active">Preview</li>
        </ul>
        <div class="well well-small">
            <div class="row-fluid">
                <div class="span8">
                    <h4>Sipariş</h4>

    {{ include('orders/_form.html.twig') }}


    </div>
    </div>
    </div>
    </div>
    </div>



{% endblock %}